body{
    background-image: url(../img/Logo-item-CS-GO-wallpaper-HD.jpg);
    background-attachment: fixed;
    background-size: 100%;
    background-repeat:no-repeat;
    background-color: black;
    padding-top: initial;
}