body{
    background-image: url(../img/CS-GO-wallpaper-HD-logo-armas.jpg);
    background-attachment: fixed;
    background-size: 100%;
    background-repeat:no-repeat;
    background-color: black;
    padding-top: initial;
}